:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  display: flex;
  background-color: rgba(187, 134, 252, 0.7); /* #BB86FC with 70% opacity */
  backdrop-filter: blur(10px); /* Enhanced translucent effect */
  overflow: hidden;
  height: 4em;
  justify-content: space-between;
}

.container h1 {
  display: flex;
  align-items: center;
}

.list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}

.list ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.list a {
  display: block;
  text-decoration: none;
  color: #242424;
  padding: 10px;
  transition: background-color 0.3s;
  min-height: 46px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list a:hover {
  background-color: red;
}

.list li {
  display: flex;
  align-items: center;
  flex: 1;
}